/*1*/

.list {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-color: white;
    overflow-y: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#myBlock {
    width: 300px;
    height: 300px;
    background-color: deepskyblue;
    position: relative;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

/*2*/

.container1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: deepskyblue;
    padding: 20px;
}

/*3*/

textarea {
    width: 100px;
    height: 100px;
}

#grid {
    margin-top: 10px;
}

.square {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/*4*/

.container2 {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 200px;
}

.controls1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

 input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px; 
        height: 20px; 
        border-radius: 50%; 
        background: #4CAF50; 
        border: 2px solid #2c7d39; 
        cursor: pointer;
}



.block2 {
    background-color: darkblue;
    width: 100px;
    height: 100px;
}

#maxWidth, #maxHeight, #maxRotate {
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

input[type="range"] {
    -webkit-appearance: none; 
    width: 200px;
    height: 8px; 
    background: #d3d3d3; 
    border-radius: 5px;
    outline: none; 
}



